.full-width{
    width:100%;
}
.background-image{
    background-size: cover;
    background-color:black;

}
.field{
 width:1000px;
    height: 50px;
}
.container{
    align-items: center;
   
    content: normal;
}
 home{
    color: orange;
}
a:hover{
background-color: orange;
}
.image{
    height: auto;
    width:auto
}
.column{
    display: flex;
    justify-content: center;
    align-items: center;
}
ul{
    background-color
}
@media only screen and (max-width: 600px) {
    li{
      background-color: lightblue;
    }
  }
  @media only screen and (min-width: 60px) {
    .background-image{
        background-size: cover;
        background-color:r;
    
    }
  }
  

